:root{
    --fontSize: 1.1rem;
}

.container{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.header button{
    min-height: 20px;
    height: 3rem;
    align-self: center;
    margin: 20px;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    border: solid 2px red;
    background-color: rgb(37, 90, 158);

}

.header{
    grid-column: 2/3;
    border: solid 2px red;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 3fr;
    height: 11rem;
    min-height: 150px;
}
#profile{
    grid-column: 2/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
#searchform{
    display: flex;
    align-self: center;
    gap: 5px;
}

#search{
    height: 2em;
    align-self: center;
    border: none;
    background-color: #d6d3d1;
    border-radius: 2vh;
    width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 20px;
    font-size: var(--fontSize);
}

#project div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#ucontent img,
#setting img{
    width: 1.2em;
    margin-right: 10px;
}


#dashboard img{
    width: 50px;
    
}

#dashboard{
    display: flex;
    flex-direction: row;
}

#ucontent div,
#setting div{
    padding: 0.5rem;
    display: flex;
    font-size: var(--fontSize);
}

#ucontent{
    margin-bottom: 30px;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

#searchimg{
    width: 2rem;
}

#welc{
    align-self: center;
    display: flex;
}

.content #announce,
#project,
#trend{
    padding: 30px;
}





